.card {
  width: 250px;
  height: 250px;
  border-radius: 50px;
  border: 5px solid #918b87;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.05s ease-in-out;
}

.selected {
  background: var(--mbti-selected-bg, #ffddcf);
  border-color: var(--mbti-selected-bg, #ffddcf);
}

.selected .type,
.selected .label {
  color: var(--primary);
}

.type {
  color: #69605c;
  font-size: 96px;
  font-weight: 700;
  margin-bottom: 12px;
}

.label {
  font-size: 35px;
  color: #808080;
}

@media (max-height: 1200px) {
  .card {
    width: 150px;
    height: 150px;
    border-radius: 30px;
  }

  .type {
    font-size: 40px;
  }

  .label {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .card {
    width: 90px;
    height: 90px;
    border-radius: 25px;
  }

  .type {
    font-size: 25px;
  }

  .label {
    font-size: 12px;
  }
}
