.form {
  position: relative;
  display: inline-block;
  background-color: #f6f6f6;
  border-radius: 26px;
  width: clamp(12rem, 40vw, 28rem);
  height: 2.3rem;
}

.input {
  padding: 0 1.5rem;
  line-height: 2.3rem;
  border: none;
  outline: none;
  background: transparent;
  font-size: 0.8rem;
  width: 100%;
}

.button {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  width: 2rem;
  height: 2rem;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:focus {
  outline: none;
}

.searchIcon {
  font-size: 1.2rem;
  color: #333;
}

.transparentForm .searchIcon {
  color: #fff;
}

.transparentForm {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(8px);
}

.whiteInput {
  color: white; /* 입력한 글자 흰색 */
}

.whiteInput::placeholder {
  color: rgba(255, 255, 255, 0.8);
}
