.topHeader {
  width: 1820px;
  /* height: 425px; */
  background: transparent;
  padding: 0 120px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.tabs {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.tab {
  font-size: 58px;
  font-weight: 700;
  background: #fff;
  border: none;
  color: #69605c;
  width: 360px;
  height: 130px;
  text-align: center;
  border: 4.972px solid #918b87;
  border-radius: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  position: relative;
  text-decoration: none;
}

.activeTab {
  background: #fe6c50;
  border: 3px solid #fe6c50;

  color: #fff;
}
