.topHeader {
  width: 1820px;
  /* height: 425px; */
  background: transparent;
  padding: 0 120px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.tabs {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.tab {
  font-size: 50px;
  font-weight: 700;
  background: #fff;
  border: none;
  color: #111;
  width: 360px;
  height: 130px;
  text-align: center;
  border: 3px solid #005278;
  border-radius: 99px;

  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  position: relative;
  text-decoration: none;
}

.activeTab {
  background: #005278;
  color: #fff;
}
