.page {
  width: 1820px;
  height: 2250px;
  background: #ffffff;
  box-sizing: border-box;
  overflow: hidden;
}

.topHeader {
  width: 1820px;
  height: 425px;
  background: #ffedc3;
  padding: 60px 120px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo {
  margin-top: 40px;
  height: 80px;
  width: auto;
}

.moreBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
}

.more {
  margin: 0;
  font-size: 40px;
  font-weight: 600;
  color: #111;
}

.tabs {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  gap: 220px;
}

.tab {
  font-size: 50px;
  font-weight: 700;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 0 12px 0;
  color: #111;
}

.activeTab {
  width: 240px;
  text-align: center;
  border-bottom: 12px solid #005278;
}

.content {
  padding: 0 120px;
  box-sizing: border-box;
}

.spinnerWrapper {
  width: 100%;
  height: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: #111;
}

.grid {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  justify-content: center;
  column-gap: 130px;
  row-gap: 90px;
}

.paginationWrap {
  margin-top: 80px;
}

.paginationWrap :global(button) {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.paginationWrap :global(button[class*='active']) {
  background-color: #fff4da;
  color: #111;
}
