.page {
  width: 1820px;
  height: 2250px;
  background: #ffffff;
  box-sizing: border-box;
  overflow: hidden;
}

.tabs {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  gap: 220px;
}

.tab {
  font-size: 50px;
  font-weight: 700;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 0 12px 0;
  color: #111;
}

.activeTab {
  width: 240px;
  text-align: center;
  border-bottom: 12px solid #005278;
}

.content {
  padding: 0 120px;
  box-sizing: border-box;
}

.spinnerWrapper {
  width: 100%;
  height: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: #111;
}

.grid {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  justify-content: center;
  column-gap: 130px;
  row-gap: 90px;
}

.paginationWrap {
  margin-top: 80px;
}

.paginationWrap :global(button) {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.paginationWrap :global(button[class*='active']) {
  background-color: #fff4da;
  color: #111;
}

.kioskFilter :global(li) {
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 12px;
  margin-top: 3rem;
}

.kioskFilter :global(ul) {
  gap: 48px;
}

.kioskFilter :global(li[class*='active']) {
  border-bottom: 6px solid #005278;
  color: #111;
}

.emptyText {
  margin: 0;
  font-size: 40px;
  font-weight: 500;
  color: #111;
  text-align: center;
  line-height: 2.5;
  word-break: keep-all;
}

.emptyWrapper {
  height: calc(2250px - 850px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 40px;
  font-weight: 500;
  line-height: 2.5;
  text-align: center;
}
