.kiosk {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.content {
  padding: 0;
}

.backBtn {
  margin: 4rem 9rem 0 auto;

  display: flex;
  width: 292px;
  padding: 40px;

  justify-content: center;
  align-items: center;
  gap: 15px;

  border-radius: 70px;
  background: #fe6c50;
  border: none;

  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.backBtn span {
  color: #fff;
  text-align: center;
  font-size: 42px;
  font-weight: 700;
}

.backIcon {
  width: 48px;
  height: 48px;
  color: #fff;
}

.fullCenter {
  width: 100%;
  min-height: 2250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
