.intro {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: #ffffff;
  font-size: 5rem;
}
