html,
body,
#root {
  overflow-x: hidden;
  overflow-y: scroll;
}

/* 크롬, 사파리, 엣지 */
::-webkit-scrollbar {
  display: none;
}

/* 파이어폭스 */
html {
  scrollbar-width: none;
}

/* IE, 구형 브라우저 */
body {
  -ms-overflow-style: none;
}

#root {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); /* 선택 사항 */

  /* Font */
  --font-family: 'GowunBatang', sans-serif;

  /* Grayscale */
  --gray-100: #ffffff;
  --gray-200: #e5e5e5;
  --gray-300: #a8a8a8;
  --gray-400: #8f8f8f;
  --gray-500: #5e5e5e;
  --gray-600: #1a1a1a;

  /* Colors */
  --blue-main: #2d8ae7;
  --blue-light: #eff7ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  font-family: sans-serif;
  background-color: #fff;
  color: #000;

  display: flex;
  justify-content: center;
  align-items: flex-start; /* 필요에 따라 center로 */
  min-height: 100vh;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
  font-size: inherit;
}

button {
  cursor: pointer;
}

button,
input,
textarea,
select {
  font-family: var(--font-family);
}

@font-face {
  font-family: 'GowunBatang';
  src: url('./assets/fonts/GowunBatang-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GowunBatang';
  src: url('./assets/fonts/GowunBatang-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
